body {
    position: fixed;
    overflow: hidden;
    margin:0px;
}

.container {
    overflow: hidden;
    position: fixed;
    display: block;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
}

canvas {
    overflow: hidden;
    position: fixed;
    display: block;
}
