
body 
{ 
    font-family:"Arial", Arial, Helvetica, sans-serif; 
    margin-top: 10px; 
    margin-bottom:0px;
	margin-left:5px;
	margin-right:5px;
	min-height:768px;
} 

h1 { 
    font-size:24px; 
    } 

h2 { 
    font-size:16px;     
} 

.heading 
{ 
    font-family:"Arial Black", Arial Black, Gadget, sans-serif; 
    color:white; 
    float: left; 
    text-align:left; 
    font-size:14px; 
    padding:2px; 
    padding-left:8px; 
    margin-bottom:5px; 
} 

.welcomebox 
{ 
    width:170px; 
    height:335px; 
    float:left; 
    position:relative; 
} 

.topbox 
{ 
    margin-top:8px; 
    width:748px; 
    height:335px; 
    position:relative; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
} 

.regularbox 
{ 
    margin-top:8px; 
    width:748px; 
    position:relative; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom:8px;
}

.leftbox 
{ 
    float:left; 
    width:370px; 
} 

.rightbox 
{ 
    float:right; 
    width:370px; 
} 

.writing 
{ 
    font-size: 13px; 
    color: gray; 
    line-height:120% 
} 

.menulink
{
	color:white;
	text-decoration:none;
	font-size: 13px; 
	float:left;
	line-height:0% 
	position:relative;
	margin-top:0px;
	margin-bottom:0px;
	padding:0px;
}

.menulink:hover
{
	text-decoration:underline;
}

.news 
{ 
    float:left; 
    width:415px; 
    height:702px; 
} 

.infobox 
{ 
    float:right; 
    width:325px; 
    position:relative; 
} 

.center 
{ 
	
    position:relative; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;     
    text-align:center; 
} 

.mc-field-group { 
    margin:3px 0 11px 0;     
    position: relative; 
} 

.checkbox { 
    margin:0px; 
    padding:0px; 
    font-size:12px; 
    list-style-type:none; 
}

<!--Menu CSS-->
#nav,#nav ul {
    margin: 0px;
    padding: 0px;
	border:0px;	
}
#nav {
    height: 78px;
	width:748px;
    position: absolute;
	top:69px;
	padding:0px;
	margin:0px;
	z-index:20;
	
}
#nav ul {
    background-color: #ffcb05;
    border:0px solid #222;
    border-radius: 0px 0px 10px 10px;
    border-width: 0 0px 0px;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 2;
	float:left;
	margin-left:0px;
	overflow:hidden;

    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);

    /*-moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;

    -moz-transition: -moz-transform 0.1s linear;
    -ms-transition: -ms-transform 0.1s linear;
    -o-transition: -o-transform 0.1s linear;
    -webkit-transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;*/
}
#nav li {
    float: left;
    position: relative;
	margin-left:auto;
	margin-right:auto;
	list-style: none ;
	
}
#nav li a {
	left:6px;
    display: block;
    float: left;
    font-weight: normal;
    height: 30px;
    padding: 24px 9px 24px 9px;
    position: relative;
	/* Shadows are visible under slightly transparent text color */
	color: rgba(255,255,255, .2);
	text-shadow: 1px 1px 1px white, 0 0 0 #000, 1px 1px 1px white;
    font: bold 26px arial;
    text-decoration: none;
	float:left;
	text-transform: uppercase;
	z-index:10;
}
#nav li:hover ul.subs {
    left: 0;
    top: 78px;
    width: 200px;
	padding:0px;
	margin:0px;

    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
#nav ul li {
    width: 100%;
}
#nav ul li a {
	position:relative;
    float: left;
	text-align:left;
	width: 200px;
	}
	
#nav ul li:hover {
    background-color: green;
}

.lavalamp {
	background-color: #00274c;
	height: 78px;
    position: absolute;
    top: 0px;
	z-index:1;
	opacity:.5;

    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
.lavalamp:hover {
    -moz-transition-duration: 3000s;
    -ms-transition-duration: 3000s;
    -o-transition-duration: 3000s;
    -webkit-transition-duration: 3000s;
    transition-duration: 3000s;
}

li:nth-of-type(1):hover ~ .lavalamp {
    left: 0px;
	width:102px;
	background-color: #ffcb05;
}
li:nth-of-type(2):hover ~ .lavalamp {
    left: 102px;
	width:160px;
	background-color: #ffcb05;
}
li:nth-of-type(3):hover ~ .lavalamp {
    left: 262px;
	width:102px;
	background-color: #ffcb05;	
}
 li:nth-of-type(4):hover ~ .lavalamp {
    left: 364px;
	width:182px;
	background-color: #ffcb05;
}
li:nth-of-type(5):hover ~ .lavalamp {
    left: 546px;
	width:202px;
	background-color: #ffcb05;
}


li:nth-of-type(1) ~ .home {
	width:102px;
	left:0px;
}

li:nth-of-type(1) ~ .campaign {
	width:160px;
	left:102px;
}

li:nth-of-type(1) ~ .media {
	width:102px;
	left:262px;
}


li:nth-of-type(1):hover ~ .home {
	background-color: #00274c;
}
li:nth-of-type(2):hover ~ .campaign {
	background-color: #00274c;
}
li:nth-of-type(3):hover ~ .media {
	background-color: #00274c;
}

.spinning-overlay {
position: relative;
}

.spinning-overlay {
-webkit-animation: spin 2s infinite linear;
-moz-animation: spin 2s infinite linear;
-o-animation: spin 2s infinite linear;
-ms-animation: spin 2s infinite linear;
}
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
0% { -moz-transform: rotate(0deg);}
100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin {
0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin {
0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(360deg);}
}
 </style>

